body {
    padding: 50px;
    margin: 0;
    padding-top: 100px;
    background-color: rgb(25, 33, 41);   
    color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#form-container {
    padding: 20px;
    width: 250px;
    margin: 0 auto;
    border: 1px solid;
    border-color: rgb(67, 163, 230);
    box-sizing: border-box;

    textarea {
        height: 150px;
    }
    .textinput {
        border-color: rgb(67, 163, 230);
        border-radius: 2px;
        border-width: 1px;
        width: 180px;
    }
    button {
        background-color: rgb(67, 163, 230);
        color: white;
        border-radius: 10px;
        border-color: rgb(67, 163, 230);
        border-style: hidden;
        height: 30px;
        width: 50px;
    }
    label {
        line-height: 25px;
        font-weight: bold;
    }
    label.uplab {
        font-style: italic;
        font-weight: lighter;
    }
}
